<div class="calculator">
    <ng-container *ngFor="let group of CalcGroups; let i = index">
        <div class="strind__of__calculator">
            <span>(</span>
            <select [(ngModel)]="group.first.mod">
                <option [value]="modif.value" *ngFor="let modif of CalcMod | keyvalue">{{modif.value}}</option>
            </select>
            <input type="number" [(ngModel)]="group.first.value">
            <select [(ngModel)]="group.operation">
                <option [value]="operation.value" *ngFor="let operation of CalcOp | keyvalue">{{operation.value}}</option>
            </select>
            <select [(ngModel)]="group.second.mod">
                <option [value]="modif.value" *ngFor="let modif of CalcMod | keyvalue">{{modif.value}}</option>
            </select>
            <input type="number" [(ngModel)]="group.second.value">
            <span>)</span>
            <select [(ngModel)]="operationsBetweenGroups[i]" *ngIf="operationsBetweenGroups.length > i">
                <option [value]="operation.value" *ngFor="let operation of CalcOp | keyvalue">{{operation.value}}</option>
            </select>
            <button (click)="removeGroup(i)" *ngIf="i > 0">х</button>
        </div>
    </ng-container>
    <button (click)="addGroupp()">Добавить группу</button>
    <button (click)="calc()">Расчитать</button>
    <span>{{result}}</span>
</div>
